<div class="container">
  <div class="bg-light">
    <mat-progress-bar mode="query" *ngIf="!books"></mat-progress-bar>
    <div class="row" *ngIf="books?.length >0">
      <mat-card class=" col-3 m-5 mb-2" *ngFor="let book of books">
        <mat-card-header class="">
          <mat-card-title class="">{{book.bookDetail[0].title}}</mat-card-title>
          <mat-error *ngIf="book.expired"> Rent has Expired</mat-error>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
            <mat-list-item><b>Rent Date :</b>{{book.rentDate.slice(0,10)}}</mat-list-item>
            <mat-list-item><b>Return Date : </b>{{book.returnDate.slice(0,10)}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button (click)="returnBook(book._id,book.bookId)" color="primary">Return</button>
        </mat-card-actions>
      </mat-card><br>
    </div>
    <div class="row" *ngIf="books?.length <= 0">
      <h3>You have 0 Rented Books </h3>
    </div>
  </div>
</div>