<div class="container">
  <mat-card class="bg-light">
    <div class="row">
      <mat-card class="col-3 m-5 mb-2" *ngFor="let book of books">
        <mat-card-header class="">
          <mat-card-title class="">{{book.title}}</mat-card-title>
          <mat-card-subtitle class="">{{book.description.slice(0,100)+'....'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
            <mat-list-item><b>Author : </b>{{book.author.slice(0,20)+'...'}}</mat-list-item>
            <mat-list-item><b>Category : </b>{{book.categories.slice(0,20)+'...'}}</mat-list-item>
            <mat-list-item><b>Year : </b>{{book.year}}</mat-list-item>
            <mat-list-item><b>Edition : </b>{{book.edition}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button *ngIf="this.authService.isUser"
          [routerLink]="['/rent-book',book._id]" color="primary">Rent</button>
          <button mat-stroked-button *ngIf="this.authService.isAdmin"
          [routerLink]="['/edit-book',book._id]" color="primary">Edit</button>
          <button mat-stroked-button *ngIf="this.authService.isAdmin"
          (click)="deleteBook(book._id)"color="warn">Delete</button>
        </mat-card-actions>
      </mat-card><br>
    </div>
  </mat-card>
</div>