<div class="container">
    <div class="card bg-light">
        <div class="row" *ngIf="book">
            <form [formGroup]="editForm" (ngSubmit)="submit()">
                <div class="m-3 row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required   type="text" name="title" id="title"
                            formControlName="title" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Title</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Author</mat-label>
                            <input required   type="text" name="author" id="author"
                            formControlName="author" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Author</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m-3 row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Category</mat-label>
                            <input required   type="text" name="categories" id="categories"
                            formControlName="categories" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Category</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Volume</mat-label>
                            <input required   type="text" name="volume" id="volume"
                            formControlName="volume" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Volume</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m-3 row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Year</mat-label>
                            <input required     type="text" name="year" id="year"
                            formControlName="year" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Year</mat-error>
                        </mat-form-field>    
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Language</mat-label>
                            <input required   type="text" name="language" id="language"
                            formControlName="language" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Language</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m-3 row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Pages</mat-label>
                            <input required   type="text" name="pages" id="pages"
                            formControlName="pages" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Page</mat-error>
                        </mat-form-field> 
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Available</mat-label>
                            <input required   type="number" name="available" id="available"
                            formControlName="available" matInput>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Available</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m-3 row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea rows="5"   type="text" name="description" id="description"
                            formControlName="description" matInput></textarea>
                            <mat-error *ngIf="editForm.touched && editForm.invalid">Invalid Description</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-center m-2">
                    <div class="col-2">
                        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>