<div class="row" *ngIf="book">
  <div class="col-12 m-1">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text"><b>Description:</b></p>
    <blockquote>{{book.description}}</blockquote>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Author : </b>{{book.author}}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Category : </b>{{book.categories}}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Year : </b>{{book.year}}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Edition : </b>{{book.edition}}</a>
        </li>
      </ul>
    </nav>
    <div class="row justify-content-center">
      <div class="col-6">
        <form [formGroup]="rentBookForm" (ngSubmit)="rentBook()">
          <mat-form-field appearance="outline">
            <mat-label>Enter the Return Date</mat-label>
            <input matInput [matDatepicker]="picker" name="rentDays" id="rentDays" required min={{minDate}}
            formControlName="rentDays">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="invalid-feedback">
            {{rentError}}
          </div>
          <div class="row justify-content-center m-2">
            <button class="col-2" type="submit" [disabled]="rentBookForm.invalid"
              mat-dialog-close mat-raised-button color="primary" >Rent</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar mode="query" *ngIf="!book"></mat-progress-bar>